<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/74328c6406.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../PROJETO/assets/css/footer.css">
    
</head>
<body>
    <footer>
        <div class="footer-content">
            <ul class="socials">
                <li><a href="https://www.facebook.com/ifrs.rolante/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/c/IFRSCampusRolante"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/ifrscampusrolante/"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <div class="footer-bottom">
                <p>&copy; Copyright 2024 <a class="ifrs" href="https://ifrs.edu.br/rolante/">IFRS-Rolante</a></p>
            </div>
        </div>
    </footer>
    <script src="assets/js/mobile-navbar.js"></script>
</body>
</html>